@model IEnumerable<PropertyPortal.Data.Property>
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
    ViewData["Title"] = "Property";
}

<h1>Property</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PropertyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bedroom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeasePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bedroom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeasePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.PropertyId" class="btn btn-secondary">Details</a>

                @if (user.Id.Equals(item.UserId))
               {
                    <a asp-action="Edit" asp-route-id="@item.PropertyId" class="btn btn-primary">Edit</a> 
                    <a asp-action="Delete" asp-route-id="@item.PropertyId" class="btn btn-danger">Delete</a> 

               }

            </td>
        </tr>
}
    </tbody>
</table>
